.advantages {
  width: auto;
  min-width: 320px;
}

.advantages-bg {
  background: url("../../img/bg-triangle.svg");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position-y: -20px;
  background-color: white;
  padding-top: 5%;
  color: white;
}

.advantages__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.advantages__item {
  margin: 0 auto;
}

.advantages__item_img img {
  width: 100%;
}

.advantages__title-header {
  font-family: @font-base;
  font-size: 18px;
  font-weight: bold;
  line-height: 1.24;
  text-transform: uppercase;
  text-align: center;
  color: @text-white;
  margin: 0 auto;
  padding-top: 8%;
}

.advantages__title-number,
.advantages__title-remark {
  font-family: @font-base;
  font-size: 14px;
  line-height: 1.5;
  text-transform: uppercase;
  text-align: center;
  color: @text-white;
  margin: 0 auto;
  width: 90%;
}

.advantages__title-number {
  padding-top: 7%;
}

.advantages__title-remark {
  padding-top: 7%;
  padding-bottom: 7%;
}

@media (min-width: @tablet-width) {
  .advantages {
    min-width: 768px;
    width: auto;
  }

  .advantages-bg {
    background: none;
  }

  .advantages__item_foto {
    display: flex;
    width: 100%;
  }

  .advantages__item_img {
    display: flex;
    flex-grow: 1;
    flex-shrink: 1;
    height: 100%;
  }

  .advantages__title-header {
    font-size: 20px;
  }

  .advantages__title-remark {
    font-size: 16px;
    padding-top: 10%;
  }

  .advantages__title-number {
    font-size: 16px;
  }
}

@media (min-width: @desktop-width) {
  .advantages {
    // min-width: 1200px;
  }

  .advantages__item_foto {
    display: flex;
  }

  .advantages__title-header {
    font-size: 22px;
  }

  .advantages__title-remark {
    font-size: 18px;
    padding-top: 10%;
  }

  .advantages__title-number {
    font-size: 18px;
  }
}
