.advantages__list {
  list-style: none;
}

.advantages__item_img {
  text-align: center;
}

.advantages__title-header {
  font-family: @font-base;
  font-size: 18px;
  font-weight: bold;
  line-height: 1.24;
  text-transform: uppercase;
  text-align: center;
  color: @text-white;
}

.advantages__title-number,
.advantages__title-remark {
  font-family: @font-base;
  font-size: 14px;
  line-height: 1.5;
  text-transform: uppercase;
  text-align: center;
  color: @text-white;
}

@media (min-width: @tablet-width) {
  .advantages__item_foto {
    display: flex;
  }
}

@media (min-width: @desktop-width) {
  .advantages__item_foto {
    display: flex;
  }
}
