.attraction__title {
  font-family: @font-base;
  font-size: 18px;
  line-height: 1.446;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  color: @text-black;
}

.attraction__bridge,
.attraction__mount,
.attraction__park,
.attraction__rocks {
  font-family: @font-base;
  font-weight: bold;
  line-height: 1.85;
  font-size: 14px;
  text-align: center;
  color: @text-black;
}
