.attraction {
  margin-bottom: 30px;
  width: 85%;
  background-color: aquamarine;
}

.attraction__title {
  font-family: @font-base;
  font-size: 17px;
  line-height: 1.446;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  padding-bottom: 3%;
  color: @text-black;
}

.attraction__bridge,
.attraction__mount,
.attraction__park,
.attraction__rocks {
  font-family: @font-base;
  font-weight: bold;
  line-height: 1.85;
  font-size: 14px;
  text-align: left;
  padding-bottom: 2%;
  color: @text-black;
}

@media (min-width: @tablet-width) {
  .attraction__title {
    font-size: 19px;
  }

  .attraction__bridge,
  .attraction__mount,
  .attraction__park,
  .attraction__rocks {
    font-size: 16px;
  }
}

@media (min-width: @desktop-width) {
  .attraction {
    width: 100%;
  }

  .attraction__list {
    display: flex;
    justify-content: space-around;
  }

  .attraction__title {
    font-size: 21px;
  }

  .attraction__bridge,
  .attraction__mount,
  .attraction__park,
  .attraction__rocks {
    font-size: 18px;
  }
}
