.benefits {
  list-style: none;
  text-align: center;
}

.benefits__title {
  .font-base();
  font-size: 18px;
  font-weight: bold;
  line-height: 1.24;
  text-transform: uppercase;
  text-align: center;
  color: @text_black;
}

.benefits__description {
  .font-base();
  font-size: 14px;
  line-height: 1.71;
  text-transform: uppercase;
  text-align: center;
  color: @text_black;
}
