.benefits {
  list-style: none;
  padding: 0;
  width: 68%;
  margin: auto;
  padding-top: 4%;
  padding-bottom: 4%;
}

.benefits__title {
  font-family: @font-base;
  font-size: 18px;
  font-weight: bold;
  line-height: 1.24;
  text-transform: uppercase;
  text-align: left;
  color: @text-black;
  padding-bottom: 6%;
  margin: 0;
}

.benefits__description {
  font-family: @font-base;
  font-size: 14px;
  line-height: 1.71;
  text-transform: uppercase;
  text-align: left;
  color: @text-black;
  padding-bottom: 6%;
  margin: 0;
}

.benefits__item {
  width: 85%;
}

@media (min-width: @tablet-width) {
  .benefits {
    display: flex;
    justify-content: space-between;
    width: 90%;
  }

  .benefits__item {
    width: 30%;
  }

  .benefits__description,
  .benefits__title {
    text-align: center;
  }

  .benefits__title {
    font-size: 20px;
  }

  .benefits__description {
    font-size: 16px;
  }
}

@media (min-width: @desktop-width) {
  .benefits {
    display: flex;
  }

  .benefits__title {
    font-size: 22px;
  }

  .benefits__description {
    font-size: 18px;
  }
}
