.button {
  display: block;
  text-align: center;
  padding: 15px 45px;
  margin: 0 auto;
  text-decoration: none;
  background-color: @bg-main-color;
  border: none;
  cursor: pointer;

  &:hover {
    background-color: #669ec0;
  }

  &:active {
    background-color: #5496bd;
    color: rgba(255, 255, 255, 0.3);
  }
}

@media (min-width: @tablet-width) {
  .button {
    padding: 15px 132px;
  }
}
