.copyright {
  display: flex;
  justify-content: center;
  align-items: center;
}

.copyright__title {
  font-family: @font-base;
  font-size: 14px;
  line-height: 1.86;
  text-align: center;
  text-transform: uppercase;
  color: @text-black;
  padding-top: 1.1em;
}

.copyright__link {
  display: flex;
}

.copyright__html { // цвет иконки?
  fill: black;

}
