.email {
  margin-bottom: 30px;
  width: 85%;
  background-color: aquamarine;
}

.email__contact {
  font-family: @font-base;
  font-size: 17px;
  line-height: 1.446;
  font-weight: bold;
  text-transform: uppercase;
  text-align: left;
  color: @text-black;
  padding-bottom: 20px;
}

.email__tel__title,
.email__box__title {
  font-family: @font-base;
  line-height: 1.85;
  font-size: 14px;
  text-transform: uppercase;
  // text-align: center;
  color: @text-black;
}

.email__tel__title span,
.email__box__title span {
  padding-left: 5px;
}

.email input[type="tel"],
.email input[type="email"] {
  font-family: @font-base;
  font-weight: bold;
  line-height: 1.85;
  font-size: 14px;
  color: @text-black;
  background-color: @bg-input;
  border: none;
  width: 100%;
}

.email input::placeholder {
  padding-left: 1%;
}

.email__input-tel,
.email__input-box {
  margin-top: 10px;
  margin-bottom: 10px;
}

@media (min-width: @tablet-width) {
  .email {
    width: 100%;
  }

  .email__tel,
  .email__box {
    display: flex;
    flex-direction: column;
  }

  .email__contact {
    text-align: center;
    font-size: 19px;
  }

  .email__tel__title,
  .email__box__title,
  .email input[type="tel"],
  .email input[type="email"] {
    font-size: 16px;
  }
}

@media (min-width: @desktop-width) {
  .email__contact {
    font-size: 21px;
  }

  .email__tel__title,
  .email__box__title,
  .email input[type="tel"],
  .email input[type="email"] {
    font-size: 18px;
  }
}
