.email {
  margin-bottom: 30px;
}

.email__contact {
  font-family: @font-base;
  font-size: 17px;
  line-height: 1.446;
  font-weight: bold;
  text-transform: uppercase;
  text-align: left;
  color: @text-black;
  padding-bottom: 20px;
}

.email__tel,
.email__box {
  font-family: @font-base;
  line-height: 1.85;
  font-size: 14px;
  text-transform: uppercase;
  // text-align: center;
  color: @text-black;
}

.email input[type="tel"],
.email input[type="email"] {
  font-family: @font-base;
  font-weight: bold;
  line-height: 1.85;
  font-size: 14px;
  color: @text-black;
}

.email__input-tel,
.email__input-box {
  margin-top: 10px;
  margin-bottom: 10px;
}
