.emotion {
  width: 300px;
  margin: 0 auto;
}

.emotion__title {
  font-family: @font-base;
  font-size: 18px;
  line-height: 1.446;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  color: @text-black;
}

.emotion textarea::placeholder {
  font-family: @font-base;
  font-weight: bold;
  line-height: 1.85;
  font-size: 14px;
  color: @text-black;
}
