.emotion {
  margin-bottom: 69px;
  width: 87%;
}

.emotion__title {
  font-family: @font-base;
  font-size: 18px;
  line-height: 1.446;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  color: @text-black;
}

.emotion__text {
  width: 275px;
  height: 155px;
  background-color: @bg-input;
  border: none;
  resize: none;
}

.emotion textarea::placeholder {
  font-family: @font-base;
  font-weight: bold;
  line-height: 1.5;
  font-size: 18px;
  color: @text-black;
  width: 90%;
  padding-left: 6%;
  padding-top: 4%;
}

@media (min-width: @tablet-width) {
  .emotion {
    width: 100%;
    margin-bottom: 73px;
  }

  .emotion__title {
    font-size: 21px;
    position: relative;
  }

  .emotion__title::before {
    content: "";
    position: absolute;
    top: 15px;
    left: 0;
    width: 125px;
    height: 1px;
    background-color: #dbdbdb;
  }

  .emotion__title::after {
    content: "";
    position: absolute;
    top: 15px;
    right: 0;
    width: 125px;
    height: 1px;
    background-color: #dbdbdb;
  }

  .emotion__text {
    width: 100%;
    margin-top: 36px;
  }

  .emotion textarea::placeholder {
    padding-left: 3%;
    padding-top: 2%;
  }
}

@media (min-width: @desktop-width) {
  .emotion {
    width: 95%;
    margin-bottom: 46px;
  }

  .emotion__title {
    padding-top: 1.5%;
    padding-bottom: 0%;
  }

  .emotion__title::before {
    top: 27px;
    width: 279px;
  }

  .emotion__title::after {
    top: 27px;
    width: 279px;
  }

  .emotion textarea::placeholder {
    font-size: 18px;
    padding-left: 2%;
    padding-top: 1%;
  }
}
