.emotion {
  margin-bottom: 30px;
  width: 85%;
}

.emotion__title {
  font-family: @font-base;
  font-size: 17px;
  line-height: 1.446;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  color: @text-black;
}

.emotion textarea::placeholder {
  font-family: @font-base;
  font-weight: bold;
  line-height: 1.85;
  font-size: 14px;
  color: @text-black;
  width: 70%;
  padding-left: 3%;
  padding-top: 3%;
}

.emotion__text {
  margin-top: 10px;
  background-color: #f5f5f5;
  border: none;
}
