.feedback {
  background-color: @bg-main;
}

.feedback__bt {
  font-family: @font-base;
  font-size: 18px;
  line-height: 1.446;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  color: @text_white;
}

.feedback__presentation,
.feedback__email,
.feedback__impressions,
.feedback__attractions,
.feedback__emotions,
.feedback__bt {
  display: flex;
  flex-direction: column;
}
