.footer {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  min-width: 320px;
  background-color: white;
}

.footer__social-list {
  display: flex;
}

.footer__social-title {
  font-family: @font-base;
  text-transform: uppercase;
  font-size: 21px;
  font-weight: bold;
  line-height: 1.24;
  text-align: center;
  color: @text-black;
  padding-top: 6%;
  padding-bottom: 6%;
  margin: 0;
}

.footer__copyright {
  margin-bottom: 5%;
  margin-top: 5%;
}

@media (min-width: @tablet-width) {
  .footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  .footer__social-title {
    font-size: 23px;
  }
}

@media (min-width: @desktop-width) {
  .footer__social-title {
    font-size: 25px;
  }
}
