.impression {
  margin-bottom: 30px;
  width: 85%;
  background-color: aquamarine;
}

.impression__title {
  font-family: @font-base;
  font-size: 17px;
  line-height: 1.446;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  padding-bottom: 20px;
  color: @text-black;
}

.impression__label_positive,
.impression__label_negative,
.impression__label_difficult {
  font-family: @font-base;
  font-weight: bold;
  line-height: 1.85;
  font-size: 14px;
  text-align: left;
  padding-bottom: 10px;
  color: @text-black;
}

@media (min-width: @tablet-width) {
  .impression {
    width: 45%;
  }

  .impression__title {
    text-align: left;
  }
}
