.impression__title {
  font-family: @font-base;
  font-size: 18px;
  line-height: 1.446;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  color: @text-black;
}

.impression__label_positive,
.impression__label_negative,
.impression__label_difficult {
  font-family: @font-base;
  font-weight: bold;
  line-height: 1.85;
  font-size: 14px;
  text-align: center;
  color: @text-black;
}
