.interest {
  min-width: 320px;
}

.interest__wr {
  margin-bottom: 43px;
  margin-top: 18px;
}

.interest__title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 320px;
  margin: auto;
  margin-top: -3%;
  padding-bottom: 16%;
}

.interest__title-header,
.interest__bt {
  font-family: @font-base;
  font-size: 19px;
  line-height: 1.446;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
  padding-top: 7%;
  padding-bottom: 6%;
}

.interest__title-remark {
  font-family: @font-base;
  line-height: 1.85;
  font-size: 13px;
  text-transform: uppercase;
  text-align: center;
  padding-bottom: 11%;
  margin: auto;
  width: 90%;
}

.interest__bt {
  color: @text-white;
}

.interest__map {
  width: 100%;
}

.interest__title-remark br {
  display: none;
}

@media (min-width: @tablet-width) {
  .interest {
    margin-bottom: 35px;
  }

  .interest__title {
    width: 68%;
    padding-bottom: 7.5%;
  }

  .interest__title-header {
    font-size: 27px;
    letter-spacing: -1px;
    margin: 0;
    padding-top: 11%;
    padding-bottom: 4%;
  }

  .interest__title-remark {
    font-size: 14px;
    letter-spacing: -1px;
    padding-bottom: 8%;
  }

  .interest__title-remark br {
    display: inline;
  }
}

@media (min-width: @desktop-width) {
  .interest__title {
    padding-bottom: 5.5%;
  }

  .interest__title-header {
    padding-top: 8.5%;
    padding-bottom: 3%;
  }

  .interest__title-remark {
    width: 57%;
    padding-bottom: 5.5%;
  }
}
