.interest {
  width: 320px;
  margin: 0 auto;
}

.interest__title {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.interest__title-header,
.interest__bt {
  font-family: @font-base;
  font-size: 18px;
  line-height: 1.446;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
}

.interest__title-remark {
  font-family: @font-base;
  line-height: 1.85;
  font-size: 14px;
  text-transform: uppercase;
  text-align: center;
}

.interest__bt {
  color: @text-white;
}

.interest__map {
  text-align: center;
}

@media (min-width: @tablet-width) {
  .interest {
    width: 768px;
  }
}

@media (min-width: @desktop-width) {
  .interest {
    width: 1200px;
  }
}
