.main-bg {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -28px;
  background: url("../../img/bg-intro-triangle-mobile.svg"), url("../../img/bg-back-mobile@1x.jpg");
  background-size: auto;
  background-repeat: no-repeat;
  background-position: bottom;
  min-width: 320px;
}

@media (min-width: @tablet-width) {
  .main-bg {
    margin-top: 0;
    background: url("../../img/bg-intro-triangle-tablet.svg"), url("../../img/bg-back-tablet@1x.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: bottom;
  }

  .main-bg_big {
    width: 463px;
    height: 518px;
  }

  .main-bg_small {
    width: 463px;
    height: 289px;
  }
}

@media (min-width: @desktop-width) {
  .main-bg {
    background-image: url("../../img/bg-intro-triangle-desktop.svg"), url("../../img/bg-back-desktop@1x.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: bottom;
  }

  .main-bg_small {
    height: 301px;
  }
}
