.main {
  background-color: @bg-main;
}

.main__description {
  .font-base();
  font-size: 18px;
  line-height: 1.446;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
}

.main__remark {
  .font-base();
  line-height: 1.85;
  font-size: 14px;
  text-transform: uppercase;
  text-align: center;
}
