.main-nav__nav-item {
  background-color: @bg-main-color;
  color: @text_white;
}

.main-nav__nav-list {
  text-align: center;
  list-style: none;
}

.main-nav__link {
  .font-base();
  cursor: pointer;
  width: 100%;
  font-size: 18px;
  font-weight: bold;
  line-height: 2.22;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: @text_white;
}

.main-nav__header-logo {
  display: flex;
  justify-content: center;
  margin-top: -34px;
}
