.main {
  background-color: @bg-main;
}

.main__description {
  font-family: @font-base;
  font-size: 18px;
  line-height: 1.5;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  padding-top: 12%;
  padding-bottom: 8%;
  margin: auto;
  width: 80%;
}

.main__remark {
  font-family: @font-base;
  line-height: 1.8;
  font-size: 14px;
  text-transform: uppercase;
  text-align: center;
  padding-bottom: 7%;
  margin: auto;
  width: 90%;
}

@media (min-width: @tablet-width) {
  .main__remark {
    padding-bottom: 6%;
  }

  .main__description {
    font-size: 21px;
    line-height: 1.4;
    padding-top: 6%;
    padding-bottom: 3.5%;
  }
}

@media (min-width: @desktop-width) {
  .main__description {
    width: 50%;
    line-height: 1.3;
    word-spacing: 1px;
    padding-top: 4%;
    padding-bottom: 2.5%;
  }

  .main__remark {
    padding-bottom: 3.7%;
  }
}
