.main-bg {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -28px;
  background: url("../img/bg-intro-triangle-mobile.svg"), url("../img/bg-back-mobile@1x.jpg");
  background-size: auto;
  background-repeat: no-repeat;
  background-position: bottom;
  background-color: #83a0be;
  height: 390px;
}

.main-bg_photo,
.main-bg_form {
  height: 157px;
}

.main-bg_big {
  width: 280px;
  height: auto;
}

.main-bg_small {
  width: 230px;
  height: auto;
  margin-top: -12px;
}

@media (min-resolution: @retina-dppx) {
  background-image: url("../img/bg-back-mobile@2x.jpg");
  background-size: auto;
}

@media (min-width: @tablet-width) {
  .main-bg {
    margin-top: 0;
    background: url("../img/bg-intro-triangle-tablet.svg"), url("../img/bg-back-tablet@1x.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: bottom;
    height: 519px;
  }

  .main-bg_big {
    width: auto;
    margin-top: -14px;
  }

  .main-bg_small {
    width: 460px;
    margin-top: -22px;
  }

  .main-bg_photo,
  .main-bg_form {
    height: 290px;
  }

  @media (min-resolution: @retina-dppx) {
    background-image: url("../img/bg-back-tablet@2x.jpg");
    background-size: 100%;
  }
}

@media (min-width: @desktop-width) {
  .main-bg {
    background-image: url("../img/bg-intro-triangle-desktop.svg"), url("../img/bg-back-desktop@1x.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: bottom;
  }

  @media (min-resolution: @retina-dppx) {
    background-image: url("../img/bg-back-desktop@2x.jpg");
    background-size: 100%;
  }

  .main-bg_photo,
  .main-bg_form {
    height: 301px;
  }
}
