.main {
  background-color: @bg-main;
}

.main__description {
  font-family: @font-base;
  font-size: 18px;
  line-height: 1.446;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  padding-top: 4%;
  padding-bottom: 4%;
  margin: auto;
  width: 90%;
}

.main__remark {
  font-family: @font-base;
  line-height: 1.85;
  font-size: 14px;
  text-transform: uppercase;
  text-align: center;
  margin: auto;
  width: 85%;
}

@media (min-width: @tablet-width) {
  .main__remark {
    padding-bottom: 4%;
    font-size: 16px;
  }

  .main__description {
    font-size: 20px;
  }
}

@media (min-width: @desktop-width) {
  .main__description {
    font-size: 22px;
  }

  .main__remark {
    font-size: 18px;
  }
}
