.main-nav {
  max-width: 320px;
}

.main-nav__nav-item {
  background-color: @bg-main-color;
  color: @text-white;
}

.main-nav__nav-list {
  display: flex;
  flex-direction: column;
  text-align: center;
  list-style: none;
}

.main-nav__link {
  font-family: @font-base;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
  font-weight: bold;
  line-height: 2.22;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: @text-white;
}

.main-nav__header-logo {
  display: flex;
  justify-content: center;
  margin-top: -34px;
}

@media (min-width: @tablet-width) {
  .main-nav {
    max-width: 768px;
  }

  .main-nav__nav-list {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  .main-nav__nav-item {
    background-color: white;
  }

  .main-nav__link {
    color: @text-black;
  }

  .main-nav__button {
    display: none;
  }
}

@media (min-width: @desktop-width) {
  .main-nav {
    max-width: 1200px;
  }

  .main-nav__nav-list {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  .main-nav__nav-item {
    background-color: white;
  }

  .main-nav__link {
    color: @text-black;
  }

  .main-nav__button {
    display: none;
  }
}
