.photo-gallery {
  width: auto;
  min-width: 320px;
  border-bottom: 1px solid #e5e5e5;
}

.photo-gallery__list {
  list-style: none;
  text-align: center;
  padding: 0;
  margin: 0;
}

.photo-gallery__item {
  border-top: 1px solid #e5e5e5;
  padding-top: 8%;
  padding-bottom: 6%;
}

.photo-gallery__header {
  font-family: @font-base;
  font-size: 17px;
  line-height: 1.5;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: -1px;
  padding-top: 13%;
  padding-bottom: 8%;
  margin: auto;
  width: 80%;
}

.photo-gallery__remark {
  font-family: @font-base;
  line-height: 1.85;
  font-size: 13px;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: -1px;
  padding-bottom: 8%;
  margin: auto;
  width: 87%;
}

.photo-gallery__title {
  font-family: @font-base;
  font-size: 13px;
  font-weight: bold;
  line-height: 1.44;
  color: @text-black;
  text-align: left;
  padding-left: 7%;
  letter-spacing: -1px;
  text-transform: uppercase;
}

.photo-gallery__author {
  font-family: @font-base;
  font-size: 12px;
  line-height: 1.71;
  text-align: left;
  padding-left: 7.5%;
  color: @text-black;
}

.photo-gallery__img {
  width: 100%;
  margin: 0;
  padding: 0;
}

.photo-gallery__img img {
  width: 85%;
}

@media (min-width: @tablet-width) {
  .photo-gallery {
    max-width: 768px;
    margin: 0 auto;
  }

  .photo-gallery__item {
    width: 49%;
    margin: 0;
  }

  .photo-gallery__list {
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    margin: 0 auto;
    padding: 0;
  }

  .photo-gallery__img img {
    width: 100%;
  }

  .photo-gallery__item:first-of-type {
    width: 100%;
  }

  .photo-gallery__wr {
    background-color: #f2f2f2;
    position: relative;
  }

  .photo-gallery__item:nth-child(2n+3) .photo-gallery__wr {
    background-color: #eaeaea;
  }

  .photo-gallery__title {
    margin-top: -1%;
    margin-bottom: 0;
    padding-top: 13px;
    padding-left: 17px;
  }

  .photo-gallery__author {
    margin-top: -1%;
    margin-bottom: 0;
    padding-top: 13px;
    padding-bottom: 13px;
    padding-left: 17px;
  }
}

@media (min-width: @desktop-width) {
  .photo-gallery {
    max-width: 1200px;
  }

  .photo-gallery__item {
    position: relative;
    width: 33%;
  }

  .photo-gallery__wr {
    position: absolute;
    right: 0;
    left: 0;
    bottom: 79px;
  }

  .photo-gallery__item:nth-child(2n+3) .photo-gallery__wr,
  .photo-gallery__wr {
    background-color: #00000060;
  }

  .photo-gallery__title,
  .photo-gallery__author {
    color: @text-white;
    opacity: 0.9;
  }
}
