.presentation{
  margin-bottom: 30px;
  width: 85%;
  background-color: aqua;
}

.presentation__title {
  font-family: @font-base;
  font-size: 17px;
  line-height: 1.446;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  color: @text-black;
  padding-bottom: 7%;
  padding-top: 7%;
}

.presentation__name,
.presentation__surname,
.presentation__patronymic {
  font-family: @font-base;
  line-height: 1.85;
  font-size: 14px;
  text-transform: uppercase;
  color: @text-black;
  padding-bottom: 7%;
  display: flex;
  width: auto;
}

.presentation input[type="text"] {
  font-family: @font-base;
  font-weight: bold;
  line-height: 1.85;
  font-size: 14px;
  color: @text-black;
  width: 100%;
  border: none;
  background-color: #f5f5f5;
}

@media (min-width: @tablet-width) {
  .presentation {
    width: 45%;
  }

  .presentation__title {
    padding-top: 0;
    text-align: left;
  }
}
