.presentation {
  margin-bottom: 30px;
  width: 90%;
  // background-color: aqua;
}

.presentation__wr {
  width: 100%;
  border-top: 1px solid #e5e5e5;
  margin-bottom: -8%;
}

.presentation__title {
  font-family: @font-base;
  font-size: 17px;
  line-height: 1.446;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  color: @text-black;
  padding-bottom: 7%;
  padding-top: 7%;
}

.presentation__name,
.presentation__surname,
.presentation__patronymic {
  font-family: @font-base;
  line-height: 4.2;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: -1px;
  color: @text-black;
  padding-bottom: 7%;
  display: flex;
  width: auto;
}

.presentation__input-name  {
  font-family: @font-base;
  font-weight: bold;
  line-height: 1.85;
  font-size: 16px;
  color: @text-black;
  width: 72%;
  // width: 208px;
  border: none;
  background-color: @bg-input;
  padding-left: 8%;
  margin-left: 6%;
}

.presentation__input-surname,
.presentation__input-patronymic {
  font-family: @font-base;
  font-weight: bold;
  line-height: 1.85;
  font-size: 16px;
  color: @text-black;
  width: 59%;
  // width: 171px;
  border: none;
  background-color: @bg-input;
  padding-left: 8%;
  margin-left: 7%;
}
// .presentation input[type="text"] {
//   font-family: @font-base;
//   font-weight: bold;
//   line-height: 1.85;
//   font-size: 16px;
//   color: @text-black;
//   width: 73%;
//   border: none;
//   background-color: @bg-input;
//   padding-left: 8%;
//   margin-left: 5%;
// }

@media (min-width: @tablet-width) {
  .presentation {
    width: 45%;
    margin-right: 0;
  }

  .presentation__title {
    padding-top: 0;
    text-align: left;
    font-size: 19px;
  }

  .presentation__name,
  .presentation__surname,
  .presentation__patronymic,
  .presentation input[type="text"] {
    font-size: 16px;
  }
}

@media (min-width: @desktop-width) {
  .presentation__title {
    font-size: 21px;
  }

  .presentation__name,
  .presentation__surname,
  .presentation__patronymic,
  .presentation input[type="text"] {
    font-size: 18px;
  }
}
