.presentation{
  margin-bottom: 30px;
}

.presentation__title {
  font-family: @font-base;
  font-size: 17px;
  line-height: 1.446;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  color: @text-black;
  padding-bottom: 20px;
}

.presentation__name,
.presentation__surname,
.presentation__patronymic {
  font-family: @font-base;
  line-height: 1.85;
  font-size: 14px;
  text-transform: uppercase;
  color: @text-black;
  padding-bottom: 23px;
}

.presentation input[type="text"] {
  font-family: @font-base;
  font-weight: bold;
  line-height: 1.85;
  font-size: 14px;
  color: @text-black;
}
