.rest__item {
  list-style: none;
}

.rest-bg_gray {
  background-color: @bg_gray;
  padding-bottom: 30px;
  padding-top: 30px;
}

.rest__item-header {
  font-family: @font-base;
  font-size: 18px;
  font-weight: bold;
  line-height: 1.24;
  text-transform: uppercase;
  text-align: center;
  color: @text-white;
}

.rest__item-number,
.rest__item-remark {
  font-family: @font-base;
  font-size: 14px;
  line-height: 1.5;
  text-transform: uppercase;
  text-align: center;
  color: @text-white;
}

@media (min-width: @tablet-width) {
  .rest {
    display: flex;
  }
}

@media (min-width: @desktop-width) {
  .rest {
    display: flex;
  }
}
