.social {
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  padding: 0;
  margin: auto;
  width: 50%;
}

@media (min-width: @tablet-width) {
  .social {
    margin: 0;
    width: 21%;
  }
}

@media (min-width: @desktop-width) {
  .social {
    width: 14%;
  }
}
