.video-gallery {
  min-width: 320px;
}

.video-gallery__screen {
  width: 100%;
}

.video-gallery__clip {
  text-align: center;
}

@media (min-width: @tablet-width) {
  // width: 768px;
}

@media (min-width: @desktop-width) {
  // width: 1200px;
}
